<r:title/>
<p>Members can place adverts <a href="/specialty-timber-market/participate/membership/">here</a>.<br>
To join <a href="/specialty-timber-market/participate/">click here</a>.</p>

<p> <big><b>Start typing into the search box or click on these terms...</big></b></p>

  <table style="text-align: left; " border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td style="vertical-align: top;">
          <a class="pop" href="#">Region<span>
            <table style="text-align: left; width: 250px;" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <% Advert::REGIONS.each do |option| %><tr>
                  <td style="vertical-align: top;">
                    <a href="/adverts/?query=<%= option -%>"><%= option -%></a>
                  </td>
                </tr><% end %>
              </tbody>
            </table>
          </span></a>
        </td>
        <td style="vertical-align: top;">&nbsp; then/or &nbsp;</td>
        <td style="vertical-align: top;">
          <a class="pop" href="#">Timber species<span>
            <table style="text-align: left; width: 100px;" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <% Advert.timber_species_options.each do |option| %><tr>
                  <td style="vertical-align: top;">
                    <a href="/adverts/?query=<%= option -%>"><%= option -%></a>
                  </td>
                </tr><% end %>
              </tbody>
            </table>
          </span></a>
        </td>
        <td style="vertical-align: top;">&nbsp; then / or &nbsp;</td>
        <td style="vertical-align: top;">
          <a class="pop" href="#">Supplier of / Buyer of<span>
            <table style="text-align: left; width: 200px;" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <% Advert.buyer_of_options.concat(Advert.supplier_of_options).map(&:capitalize).uniq.each do |option| %><tr>
                  <td style="vertical-align: top;">
                    <a href="/adverts/?query=<%= option -%>"><%= option -%></a>
                  </td>
                </tr><% end %>
              </tbody>
            </table>
          </span></a>
        </td>
        <td style="vertical-align: top;">&nbsp; then / or &nbsp;</td>
        <td style="vertical-align: top;">
          <a class="pop" href="#">Timber for sale<span>
            <table style="text-align: left; width: 250px;" border="0" cellpadding="0"
                    cellspacing="0">
              <tbody>
                <% Advert.timber_for_sale_options.each do |option| %><tr>
                  <td style="vertical-align: top;">
                    <a href="/adverts/?query=<%= option -%>"><%= option -%></a>
                  </td>
                </tr><% end %>
              </tbody>
            </table>
          </span></a>
        </td>
        <td style="vertical-align: top;">&nbsp; then / or &nbsp;</td>
        <td style="vertical-align: top;">
          <a class="pop" href="#">Services<span>
            <table style="text-align: left; width: 200px;" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <% Advert.services_options.each do |option| %><tr>
                  <td style="vertical-align: top;">
                    <a href="/adverts/?query=<%= option -%>"><%= option -%></a>
                  </td>
                </tr><% end %>
              </tbody>
            </table>
          </span></a>
        </td>
      </tr>
    </tbody>
  </table>
