%h1 New Advert

-form_for [:admin, @advert], :html => {:multipart => true} do |f|
  = render(:partial => 'form', :locals => {:f => f})
  
  %p.buttons
    = save_model_button(@advert)
    = save_model_and_continue_editing_button(@advert)
    = t('or')   
    = link_to t('cancel'), admin_adverts_path
  